{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="container-fluid hero-img"></div>
    <div id="carousel-container" class="container-fluid p-4 align-self-center">
        <div id="roomsCarousel" class="carousel slide align-self-center">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#roomsCarousel" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#roomsCarousel" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#roomsCarousel" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                {% for room in rooms %}
                <div class="carousel-item d-flex justify-content-center {% if forloop.first %} active {% endif %}">
                    <img src="{{ room.image.url }}" alt="{{ room.image_alt }}" class="text-center">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ room.name }}</h5>
                        <p><a href="{% url 'room_details' room.id %}"></a></p>
                    </div>
                </div>

                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#roomsCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#roomsCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
{%endblock%}