{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <!--Hero image-->
    <div class="container-fluid hero-img">
        <!--Motto-->
        <div class="motto-container">
            <h3 class="motto">Immerse yourself in bliss</h3>
        </div>
    </div>
    <!--B&B description-->
    <div class="container d-flex flex-row flex-wrap landing-wrapper">
        <div class="container hero-description">
            <h3>Welcome to our B&B</h3>
            <p>We offer a range of rooms with outstanding views of ocean, garden or mountain.
                To see details, please visit our <a href="{% url 'rooms' %}">rooms page</a>.
            </p>
            <p>Our delicious breakfasts included in the price of your stay
                are made with local produce and cater to different tastes and dietary needs.</p>
            <p><a data-bs-toggle="collapse" href=".multi-collapse" role="button" aria-expanded="false"
                    aria-controls="multiCollapse">
                    Read about payments and bookings</a></p>
            <p class="collapse multi-collapse">All payments are made on arrival. If there are any children on your
                booking, our staff can apply
                a discount of 5% off booking total per child.
            </p>
            <p class="collapse multi-collapse">You need to be registered and logged in to make an online booking via our
                <a href="{% url 'new_booking' %}">booking form</a>.
                Alternatively, you can give us a call at <a href="tel:+353891234567" class="phone"> +353 89 123 4567</a>
                and our staff
                will
                make the booking for you.
            </p>
            <p><a data-bs-toggle="collapse" href=".multi-collapse2" role="button" aria-expanded="false"
                    aria-controls="multiCollapse">
                    Find us</a></p>
            <p class="collapse multi-collapse2">
                Lighthouse B&B <br>
                Windy Cliff, Hidden Village, Co. Mayo, Ireland <br>
                <a href="tel:+353891234567" class="phone"> +353 89 123 4567</a><br>
                <a href="https://www.google.com/maps/place/Mayo,+Co.+Mayo/@54.0577006,-9.8962091,12.39z/data=!4m6!3m5!1s0x48595d749ddbec0d:0x91b3fcc43f2cb67c!8m2!3d54.0152604!4d-9.4289369!16zL20vMDFybmc?entry=ttu"
                    target="_blank">
                    Show on map</a>
            </p>
        </div>
        <!--Breakfast carousel-->
        <div class="carousel-wrapper">
            <div id="brekkieCarousel" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#brekkieCarousel" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#brekkieCarousel" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#brekkieCarousel" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#brekkieCarousel" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#brekkieCarousel" data-bs-slide-to="4"
                        aria-label="Slide 5"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://res.cloudinary.com/dml1pgzdn/image/upload/v1689506105/static/images/irish-br_datajm.webp"
                            class="d-block w-100" alt="irish breakfast">
                        <div class="carousel-caption d-md-block">
                            <h5>Irish</h5>
                            <p class="d-none d-sm-block">Nation's beloved eggs, rashers and more with a hearty serving
                                of
                                veggies
                                for those who
                                want
                                it</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://res.cloudinary.com/dml1pgzdn/image/upload/v1689506105/static/images/cont-br_ylqtha.webp"
                            class="d-block w-100" alt="continental brakfast">
                        <div class="carousel-caption d-md-block">
                            <h5>Continental</h5>
                            <p class="d-none d-sm-block">A selection of fruit, veg, toast and more for those who want
                                something
                                different</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://res.cloudinary.com/dml1pgzdn/image/upload/v1689506105/static/images/gluten-free_gbkeuy.webp"
                            class="d-block w-100" alt="gluten-free breakfast">
                        <div class="carousel-caption d-md-block">
                            <h5>Gluten-free</h5>
                            <p class="d-none d-sm-block">Hearty fruit porridge or mix of Irish & continental with
                                gluten-free
                                bread, when gluten
                                is
                                not
                                welcome</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://res.cloudinary.com/dml1pgzdn/image/upload/v1689506105/static/images/vegan-br_cxqv1q.webp"
                            class="d-block w-100" alt="vegan breakfast">
                        <div class="carousel-caption d-md-block">
                            <h5>Vegan</h5>
                            <p class="d-none d-sm-block">Fresh home made baguette with delicious sides to kick-start the
                                day for
                                those on fully
                                plant
                                based diet</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://res.cloudinary.com/dml1pgzdn/image/upload/v1689506105/static/images/br-in-bed_cvhthj.webp"
                            class="d-block w-100" alt="gluten-free breakfast">
                        <div class="carousel-caption d-md-block">
                            <h5>In bed</h5>
                            <p class="d-none d-sm-block">Choose any of the four options to be brought to your room! Just
                                let our
                                staff know at
                                least a
                                day in advance.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#brekkieCarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#brekkieCarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}