@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Josefin+Sans&family=Marck+Script&display=swap');

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin-top: 10vh;
}

h1,
h5 {
    font-family: 'Courgette', cursive;
}

a,
a.nav-link {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(16, 182, 14);
}

#msg {
    margin-top: 10vh;
}

.form {
    box-shadow: 1px -1px 7px 0 #00000061;
    border-radius: 5px;

}

/* Header */
header nav {
    font-family: 'Marck Script', cursive;
    color: black;
}


.active {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.nav-link.active {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.nav-link.active:hover {
    color: rgb(16, 182, 14);
}

.nav-link:hover {
    color: rgb(16, 182, 14);
}

.logo {
    height: 5vh
}

/* Hero image */
.hero-img {
    background-image: url(../images/background.webp);
    height: 70vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;

}

/* Carousel */
#car-container {
    height: 35vh;
}

/* Footer */
footer {
    background-color: #f9fbfd;
    bottom: 0;
    padding-bottom: 0.5px;
}

footer p {
    font-size: 0.9em;
}


/* Rooms */
.custom-card {
    text-align: center;
}

.custom-card:hover {
    box-shadow: 1px 1px 15px 10px rgba(86, 185, 235, 0.5);
}

p a {
    text-decoration: underline;
}