@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Marck+Script&display=swap');

/* Site wide styles*/
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin-top: 10vh;
}

h1,
h3,
h5 {
    font-family: 'Courgette', cursive;
}

a,
a.nav-link {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(16, 182, 14);
}

#msg {
    margin-top: 10vh;
}

.form,
.room-details {
    box-shadow: 1px -1px 7px 0 #00000061;
    border-radius: 5px;

}

/* Header */
header nav {
    font-family: 'Marck Script', cursive;
    color: black;
}


.active {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.nav-link.active {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.nav-link.active:hover {
    color: rgb(16, 182, 14);
}

.nav-link:hover {
    color: rgb(16, 182, 14);
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(153, 215, 168, 0.5);
    color: #343333;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 12px;
    font-family: sans-serif;
    letter-spacing: 1px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
}

.tooltiptext p {
    margin: 0;
    padding: 1%;
}

.r-search:hover .tooltiptext {
    visibility: visible;
}

.logo {
    border-radius: 5px;
    height: 5vh;

}

/* Landing page */

.hero-img {
    background-image: url('https://res.cloudinary.com/dml1pgzdn/image/upload/v1689419717/static/images/background_res_pqrmqk.webp');
    height: 70vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1%;
    margin: 2%;
    /* animates zoom effect on loading page*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}



.motto-container {
    display: flex;
    justify-content: center;
    margin: 2%;
}

.motto {
    background: linear-gradient(to right, rgba(141, 152, 169, 0.4), rgba(124, 135, 152,
                0.6));
    padding: 1%;
    color: white;
    border-radius: 5px;
}

.landing-wrapper {
    margin-top: 6%;
}

.carousel-wrapper {
    width: 60%;
}

.hero-description {
    width: 40%;
    height: fit-content;
    padding: 1%;
}

.carousel-caption {
    background: rgba(126, 129, 135, 0.8);
    padding: 1%;
    border-radius: 5px;

}


/* Footer */
footer {
    background-color: #f9fbfd;
    bottom: 0;
    padding-bottom: 0.5px;
}

footer p {
    font-size: 0.9em;
}


/* Rooms */
.custom-card {
    text-align: center;
}

.custom-card:hover {
    box-shadow: 1px 1px 15px 10px rgba(86, 185, 235, 0.5);
}

p a {
    text-decoration: underline;
}

.room-details-bckgrnd {
    background-color: rgb(236 245 245);
    padding: 2%;
}

.float-r {
    float: right;
}

/* Bookings */
.person {
    background: linear-gradient(to right, rgba(119, 209, 136, 0.5), rgba(169, 244, 109, 0.5));
}

@media (max-width: 768px) {

    .hero-description,
    .carousel-wrapper {
        width: 100%;
    }

    .motto-container {
        margin: 5%;
    }

    .hero-description p {
        font-size: smaller;
    }
}