{% extends 'base.html' %}

{% block title %}{{room.name}}{% endblock %}

{% block content %}

<div class="container">
    <h5 class="card-title"> {{ object.main_guest_name }} will be staying at {{ object.room.name }}</h5>
    {% if object.no_of_ppl > 1 %}
    with {{ object.no_of_ppl|add:-1 }} more person
    {% elif object.no_of_ppl > 2 %}
    with {{ object.no_of_ppl|add:-1 }} more people
    {% endif %}
    <p class="card-text">We'll be happy to see you arrive on {{ object.check_in }}</p>
    <p class="card-text">We'll be waving you farewell on {{ object.check_out }}</p>
    <p class="card-text">There
        {% if object.no_of_ppl == 1 %}
        is 1 person on your booking.
        {% else %}
        are {{ object.no_of_ppl }} people on your booking.
        {% endif %}
    </p>
    <p class="card-text" id="breakfast">
        {% if object.breakfast == True %}
        We'll be happy to serve you breakfast. It's already on your booking.
        {% else %}
        Breakfast is currently not included in your booking. Please let our staff know, if you'd like to
        order.
        {% endif %}
    </p>
    <p class="card-text">This booking was created by
        {% if object.created_by.is_admin == True %}
        Lighthouse B&B staff.
        {% else %}
        {{ object.created_by }}
        {% endif %}
    </p>
    {% if user.is_admin %}
    <div>
        <a href="{% url 'edit_booking' booking.pk %}" class="btn">Edit Booking</a>
        <a href="{% url 'delete_booking' booking.pk %}" class="btn">Delete Booking</a>
    </div>
    {% endif %}

</div>
{% endblock %}