{% extends 'base.html' %}

{% block title %}{{room.name}}{% endblock %}

{% block content %}

<div class="container room-details p-3 mt-2 w-80 text-center">
    <a href="{% url 'mybookings' %}" class="float-r"><button type="button" class="btn-close" data-bs-dismiss="alert"
            aria-label="Close"></button></a>
    <h5 class="card-title p-2"> {{ object.main_guest_name }} will be staying at
        <a href="{% url 'room_details' object.room.id %}">{{ object.room.name }}</a>
    </h5>
    <p>Booking price {{ object.get_price }}</p>
    <p>Booking length {{ object.booking_length }} </p>
    {% if object.no_of_ppl > 1 %}
    with {{ object.no_of_ppl|add:-1 }} more person
    {% elif object.no_of_ppl > 2 %}
    with {{ object.no_of_ppl|add:-1 }} more people
    {% endif %}
    <p class="card-text">We'll be happy to see you arrive on {{ object.check_in }}</p>
    <p class="card-text">We'll be waving you farewell on {{ object.check_out }}</p>
    <p class="card-text">There
        {% if object.no_of_ppl == 1 %}
        is 1 person on your booking.
        {% else %}
        are {{ object.no_of_ppl }} people on your booking.
        {% endif %}
    </p>
    <p class="card-text" id="breakfast">
        {% if object.breakfast == True %}
        We'll be happy to serve you breakfast. It's already on your booking.
        {% else %}
        Breakfast is currently not included in your booking. Please let our staff know, if you'd like to
        order.
        {% endif %}
    </p>
    <p class="card-text">This booking was created by
        {% if object.created_by.is_admin == True %}
        Lighthouse B&B staff.
        {% else %}
        {{ object.created_by }}
        {% endif %}
    </p>
    <div class="mt-2">
        <a href="{% url 'edit_booking' object.id %}" class="btn btn-outline-info m-2">Edit Booking</a>
        <a href="{% url 'delete_booking' object.id %}" class="btn btn-outline-danger m-2">Delete Booking</a>
    </div>
</div>
{% endblock %}