{% extends 'base.html' %}
{% block title %}My Bookings{% endblock %}

{% block content %}
<div class="container">
    <h1>My Bookings {{ user.email }}</h1>

    {% if bookings %}
    {% for booking in object_list %}
    <a href="{% url 'booking_details' booking.id %}" class="bookings" aria-label="Click to view {{ booking.id }}">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ booking.room.image.url }}" alt="{{ booking.room.image_alt }}">
            <h5 class="card-title">{{ booking.room }}</h5>
            <h5 class="card-title">{{ booking.main_guest_name }}</h5>
        </div>
    </a>
    {% endfor %}
    {% else %}
    <p>You have no upcoming bookings.</p>
    {% endif %}
</div>
{% endblock %}