{% load static %}

<footer class="footer mt-5">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a href="https://facebook.com" target="_blank" rel="noopener" class="nav-link px-3 black"
                aria-label="Visit our facebook page (opens in a new tab)"><i class="fa-brands fa-facebook"></i></a>
        </li>
        <li class="nav-item">
            <a href="https://youtube.com" target="_blank" rel="noopener" class="nav-link px-3 black"
                aria-label="Visit our youtube channel (opens in a new tab)"><i class="fa-brands fa-youtube"></i></a>
        </li>
        <li class="nav-item">
            <a href="https://instagram.com" target="_blank" rel="noopener" class="nav-link px-3 black"
                aria-label="Visit our instagram profile (opens in a new tab)"><i class="fa-brands fa-instagram"></i></a>
        </li>
    </ul>
    <p class="text-center text-muted">Built for educational purposes, more details at
        <a href="https://github.com/AgaToma" target="_blank" rel="noopener" aria-label="Github (Opens in a new tab)"
            class="black git-link">
            Github
            <i class="fab fa-github"></i>
        </a>
    </p>

</footer>