{% load static %}

<header>
    {% with request.resolver_match.url_name as url_name %}
    <nav class="navbar navbar-expand-lg fs-4 fixed-top mb-2 bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" alt="lighthouse bnb logo" class="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <!--Home link-->
                    <li class="nav-item px-2">
                        <a class="nav-link black {% if url_name == 'home' %}active{% endif %}" aria-current="page"
                            href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link black {% if url_name == 'rooms' %}active{% endif %}"
                            href="{% url 'rooms' %}">Rooms</a>
                    </li>
                    <!--Booking links-->
                    {% if user.is_authenticated %}
                    <li class="nav-item px-2">
                        <a class="nav-link black {% if url_name == 'new_booking' %}active{% endif %}"
                            href="{% url 'new_booking' %}">Book</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link black {% if url_name == 'mybookings' %}active{% endif %}"
                            href="{% url 'mybookings' %}">My Bookings</a>
                    </li>
                    <!--Admin link-->
                    {% if user.is_admin %}
                    <li class="nav-item px-2">
                        <a class="nav-link black" href="https://lighthouse-bnb.herokuapp.com/admin/">Admin</a>
                    </li>
                    {% endif %}
                    <!--Account links-->
                    <li class="nav-item px-2">
                        <a class="nav-link black {% if url_name == 'account_logout' %}active{% endif %}"
                            href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item px-2">
                        <a class="nav-link black {% if url_name == 'account_signup' %}active{% endif %}"
                            href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link black {% if url_name == 'account_login' %}active{% endif %}"
                            href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
                <!--Room Search-->
                <form class="d-flex r-search" role="search" method="GET" action="{% url 'rooms' %}">
                    <input class="form-control me-2" name="q" type="search" placeholder="Search Rooms"
                        aria-label="Search">
                    <div class="white">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </div>
                    <span class="tooltiptext">
                        Enter number of people, room name or type of view
                    </span>
                </form>
            </div>
        </div>
    </nav>
    {% endwith %}

</header>