{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Create Room{% endblock %}

{% block content %}
<div class="container">
    <form method="POST" enctype="multipart/form-data">
        <h1 class="text-center">Create Room</h1>
        <!--Form to create room-->
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        <div class="text-center">
            <button class="btn btn-outline-success" type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock %}