{% extends 'base.html' %}
{% block title %}Rooms{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">Our rooms</h1>
    <!-- Create Room button for admins-->
    {% if user.is_admin %}
    <div class="container d-flex justify-content-center">
        <a href="{% url 'add_room' %}" class="btn btn-info m-2 text-center">Create Room</a>
    </div>
    {% endif %}
    <!--Rooms list-->
    <div class="container d-flex flex-row flex-wrap justify-content-center">
        {% for room in rooms %}
        <a href="{% url 'room_details' room.id %}" class="m-4 text-center" aria-label="Click to view {{ room.name }}">
            <div class="card custom-card" style=" width: 18rem;">
                <img class="card-img-top" src="{{ room.image.url }}" alt="{{ room.image_alt }}">
                <div class="card-body">
                    <h5 class="card-title">{{ room.name }}</h5>
                    <div class="row">
                        <p class="card-text col-sm-6">
                            <i class="fa-solid fa-people-roof"></i>
                            {{ room.capacity }}
                        </p>
                        <p class="card-text col-sm-6">
                            <i class="fa-solid fa-mountain-sun"></i> {{ room.view_type }}
                        </p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>


{% endblock %}