{% extends 'base.html' %}
{% block title %}Rooms{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">Our rooms</h1>
    <div class="container d-flex flex-row flex-wrap justify-content-center">
        {% for room in rooms %}
        <a href="{% url 'room_details' room.id %}" class="m-4 rooms" aria-label="Click to view {{ room.name }}">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ room.image.url }}" alt="{{ room.image_alt }}">
                <div class="card-body">
                    <h5 class="card-title">{{ room.name }}</h5>
                    <p class="card-text">Sleeps up to
                        {% if room.capacity == 1 %}
                        1 person
                        {% else %}
                        {{ room.capacity }} people
                        {% endif %}
                    </p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}