{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Aga Tomaszewska" />
    <meta name="description" content="Bed and breakfast in county Mayo, Ireland" />
    <meta name="keywords" content="bed and breakfast, ocean view, Mayo, Irish coast" />

    {% block extra_css %}
    <!--Bootsrap-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
        integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--My custom CSS-->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    {% endblock %}

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}" />

    {% block onload_js %}
    <!--Bootstrap JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
        integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% endblock %}

    <link rel="preload" as="image"
        href="https://res.cloudinary.com/dml1pgzdn/image/upload/v1689419717/static/images/background_res_pqrmqk.webp">

    <title>Lighthouse B&B - {% block title %}{% endblock %}</title>
</head>

<body>
    <!-- Header -->
    {% include 'includes/header.html' %}
    <!-- Messages -->
    {% include 'includes/messages.html' %}

    <main>{% block content %} {% endblock %}</main>

    <!-- Footer -->
    {% include 'includes/footer.html' %}

    {% block extra_js %}
    <!--font awesome link for icons-->
    <script src="https://kit.fontawesome.com/d0faf7c48b.js" crossorigin="anonymous"></script>
    {% endblock %}

</body>

</html>